@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  /* Light Mode Defaults */
  --background: #ffffff;
  --foreground: #0a0a0a;
}

:root.dark {
  /* Dark Mode Overrides */
  --background: #0a0a0a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Custom Utilities */
.text-stroke {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}

.font-noto {
  font-family: var(--font-noto-sans-jp), sans-serif;
}
